html,
body {
    background-color: lightblue;
}

body {
    padding-top: 36px;
}

.top{
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

.container-contact {
    padding: 20px;
    text-align: center;
    color: black;
    width: 100%;
}

.row-block {
    padding-top: 20px;
}

.card-title {
    text-align: left;
    padding: 20px;
}

.card-body{
    padding-top: 0px;
}

.card-block{
    padding-bottom: 20px;
    width: 100%;
}

.card-body-text-view {
    width: 100%;
    text-align: left;
}